#root {
  min-height: 100%;
  display: flex;
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  width: 100%;
}

.mic-active {
  animation: micActive 0.8s ease alternate infinite;
}

@keyframes micActive {
  from {
    color: var(--cl-dark);
  }
  to {
    color: var(--cl-primary);
  }
}
