header {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button.ant-btn-text,
button.ant-btn-text:focus {
  color: var(--cl-primary-dark);
  font-weight: 600;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
}

button.ant-btn-text:hover {
  color: var(--cl-white);
  background-color: var(--cl-primary-dark);
  opacity: 0.4;
}

button.ant-btn-link:hover {
  opacity: 0.8;
}

.header__card {
  background-color: var(--cl-primary-dark);
  border-radius: 0.25rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}
