article {
  margin: 1rem 0;
  box-shadow: 0px 2px 4px rgba(58, 58, 58, 0.08);
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: var(--cl-white);
  max-width: 70ch;
  color: var(--cl-dark);
  transition: 0.2s ease;
}

article:hover {
  box-shadow: 0px 2px 8px rgba(58, 58, 58, 0.12);
}

article a {
  font-size: 0.9rem;
  color: var(--cl-primary);
}

article h1 {
  font-size: 1.2rem;
  margin-bottom: 0.25rem;
  display: inline-block;
}

article h1:hover {
  text-decoration: underline;
}

article p {
  font-size: 0.9rem;
  margin-bottom: 0;
}

.search__stats {
  font-size: 0.9rem;
  padding: 0 1rem;
}

article .card__thumbnail {
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  margin-right: 0.5rem;
}

.result__cards button {
  color: var(--cl-dark);
  margin-top: 1rem;
}

.center-content {
  text-align: center;
}

.data-error {
  margin: 4rem auto;
  width: 60ch;
  max-width: 100%;
}

article .ant-skeleton {
  margin-right: 0.5rem;
  height: 1rem;
}

article .skeleton-header {
  display: flex;
}

article .ant-skeleton-avatar {
  transform: translateY(-5px);
}

article .ant-skeleton-input {
  height: 1rem !important;
  border-radius: 0.25rem;
}

article h3.ant-skeleton-title {
  margin-bottom: 0.5rem;
  width: 55% !important;
  border-radius: 0.25rem;
}

article ul.ant-skeleton-paragraph {
  margin: 0 !important;
}

article ul.ant-skeleton-paragraph li {
  width: 80% !important;
  border-radius: 0.25rem;
}
