header {
  background-color: var(--cl-primary);
  background-image: url("../images/bg-art.svg");
  background-position: center center;
  background-size: cover;
  padding: 5rem 0rem 8rem;
  color: var(--cl-white);
}

.header__content {
  width: 100%;
  max-width: 50ch;
}

.header__content h1 {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.header__content p {
  margin-bottom: 2rem;
  line-height: 1.4;
  opacity: 0.8;
}

@media screen and (min-width: 576px) {
  .header__content {
    padding: 0 2rem;
  }
}
