header {
  background-color: var(--cl-primary);
  padding: 5rem 2rem 8rem;
  color: var(--cl-white);
}

.header__content {
  width: 100%;
  max-width: 50ch;
}

.header__content h1 {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.header__content p {
  margin-bottom: 2rem;
  line-height: 1.4;
  opacity: 0.8;
}
