.app__content__tabs {
  background-color: var(--cl-white);
  padding: 2rem;
  box-shadow: 0px 4px 8px rgba(190, 193, 224, 0.320039);
  border-radius: 0.5rem;
  color: var(--cl-dark);
}

.app__content__tabs h2 {
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: capitalize;
}

.tabs__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.tabs__header .tabs__header__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.tabs__header .filter__select--days {
  padding: 0 0.25rem;
  transform: translateY(1px);
}

.tabs__header .filter__select--days svg {
  display: none;
}

.tabs__header .filter__select--days .MuiSelect-select.MuiSelect-select {
  padding: 0 0.5rem;
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--cl-dark);
}

.tabs__header .filter__select--days .MuiSelect-select.MuiSelect-select:focus {
  background-color: transparent;
}

.tabs__header .filter__select--days .MuiInputBase-root::before {
  border-bottom-color: #d6d6d6;
}

.tabs__header .filter__select--days .MuiInputBase-root:focus::before {
  border-bottom-color: var(--cl-primary);
}

.tabs__content {
  height: 80%;
  min-height: 20rem;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  margin: 0 -1rem;
}

@media screen and (min-width: 576px) {
  .tabs__header {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .tabs__header .tabs__header__title {
    margin-bottom: 0;
  }

  .tabs__content {
    height: 90%;
  }
}
