.filter__select .MuiInput-underline::before,
.filter__select .MuiInput-underline::after {
  display: none;
}

.filter__select.MuiFormControl-root {
  max-width: 10ch;
}

@media screen and (min-width: 768px) {
  .filter__select.MuiFormControl-root {
    max-width: 18ch;
  }
}

@media screen and (min-width: 960px) {
  .filter__select.MuiFormControl-root {
    max-width: 25ch;
  }
}

.filter__select .MuiSelect-select.MuiSelect-select {
  padding-right: 0.5rem;
  font-weight: 500;
  font-size: 1.4rem;
}

.filter__select .MuiSvgIcon-root {
  margin-bottom: 0.5rem;
}

.filter__select .MuiSelect-select:focus {
  background-color: transparent;
}

.stats-percentage.stats-date {
  color: var(--cl-ic-gray);
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 0.8rem;
}

.stats-percentage.stats-date:hover {
  color: var(--cl-dark);
  text-decoration: underline;
}

.stats-percentage.stats-date img {
  width: 0.8rem;
  position: relative;
  top: -0.4rem;
  margin-right: 0.25rem;
  transition: 0.6s ease;
}

.stats-percentage.stats-date:hover img {
  transform: rotate(-360deg);
}

.cards-container .MuiInputBase-root {
  color: var(--cl-primary);
}
