body {
  color: var(--cl-dark);
  text-align: center;
  min-height: 100vh;
  background-color: var(--cl-light);
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 860px;
  margin: 0 auto;
}

.app__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 0;
  overflow: hidden;
}
