:root {
  --cl-primary: rgb(129, 124, 206);
  --cl-secodary: rgb(114, 214, 38);
  --cl-light: rgb(248, 248, 248);
  --cl-gray: rgb(233, 236, 241);
  --cl-dark-gray: rgb(91, 92, 95);
  --cl-dark: rgb(48, 49, 49);
  --cl-white: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}
