.app__form {
  padding: 1.5rem 2rem;
  background-color: var(--cl-gray);
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0px -4px 12px rgba(30, 30, 30, 0.12);
  z-index: 5;
}

.app__form .app__formControl {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app__form .app__formControl {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app__formInput {
  flex: 1;
  margin-right: 1rem;
}
