.app__messages {
  padding: 0 2rem;
  flex-grow: 1;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide Scrollbar */
.app__messages::-webkit-scrollbar {
  display: none;
}

.app__messages article:last-of-type {
  margin-bottom: 1rem;
}

.app__messages::-webkit-scrollbar,
.app__messages::-moz-scrollbar {
  display: none;
}

.app__messages > div:last-child {
  scroll-snap-align: end;
}

/* Scroll to last */
#scroller * {
  overflow-anchor: none;
}

#anchor {
  overflow-anchor: auto;
  height: 1px;
}
