.message.MuiPaper-rounded {
  margin: 0.5rem 0;
  box-shadow: 0px 4px 2px -1px rgba(0, 0, 0, 0.12),
    0px 2px 2px 0px rgba(0, 0, 0, 0.04), 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
}

.message .MuiCardContent-root {
  padding: 0.25rem 0.5rem !important;
}

.message {
  padding: 0.5rem;
  margin: 1rem;
  width: fit-content;
}

.message.message__guest {
  align-self: flex-start;
  text-align: left;
  background-color: var(--cl-gray);
  color: var(--cl-dark);
  border-radius: 2rem 10rem 10rem 2rem;
}

.message.message__user {
  text-align: right;
  align-self: flex-end;
  background-color: var(--cl-primary);
  color: var(--cl-white);
  margin-left: auto;
  border-radius: 10rem 10rem 2rem 10rem;
}

.message__username + .message.message__guest {
  border-radius: 10rem 10rem 10rem 2rem;
}
